.menum>a,.menum>button,.menum>div>ul>li>a{
    background: transparent !important;
    color: #1b1e21 !important;
}
.listeler>h2,.listeler>ul>li{
    background: transparent !important;
    color: white;
}

.footeralani{
    position: fixed;
    bottom: 0px;
    right: 0px;
}